package templates

templ Scripts(data PageData) {
	<script src={ "/static/js/theme.js?v=" + data.AssetVersion }></script>
	<script src={ "/static/js/app.js?v=" + data.AssetVersion }></script>
	<script src="/api/config/custom.js" defer></script>
}
