package templates

templ Scripts(data PageData) {
	<script src={ staticURL(ctx, "/static/js/theme.js", data.AssetVersion) }></script>
	<script src={ staticURL(ctx, "/static/js/app.js", data.AssetVersion) }></script>
	<script src={ configFileURL(ctx, "custom.js") } defer></script>
}
